.settings/
.idea
.cproject
.project
unit-tests/engines/*
unit-tests/logs/*
unit-tests/cache/*

ext/*

unit-tests/annotations/cache/*.php
*.o
*.lo
*.loT
.libs
build/t.dSYM/
build/install2
*~
.DS_Store
ext/.DS_Store
ext/mvc/view/engine/volt/parser.out
ext/mvc/view/engine/volt/lemon
.temp/
/vendor/
composer.lock
myinstall.sh
